# 场景配置文件. 支持添加多个静态物体、一个物体, 仅支持立方体.
# 立方体描述方式: 中心xyz + 边长, 立方体应该在[-1,1]*[-1,1]*[-1,1]的范围内
# STATIC 后面的数字表示静态物体的个数, 下面几行每行表示一个静态立方体
# MOVING 下面第一行表示动态物体的初始位置和边长, 第二行表示初始运动方向
STATIC 4
-0.9, -0.9, -0.9, 0.2
+0.9, -0.9, -0.9, 0.2
-0.9, -0.9, +0.9, 0.2
+0.9, -0.9, +0.9, 0.2

MOVING
0.0, -0.95, 0, 0.1
1, 1, 1